@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.2rem;
  }
  html {
    @apply scroll-smooth;
    /* font-size: 62.5%; */
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-gray-200 text-gray-900 dark:bg-neutral-900 dark:text-gray-200;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0, 0, 0 / 56%) 0px 3px 12px;
  }
}

@layer components {
  .card {
    @apply mt-[30%] flex flex-col items-center gap-4 transition-all sm:mt-8 md:flex-row md:gap-0;
  }

  .headline {
    @apply bg-primary-gradient bg-clip-text font-bold text-transparent;
  }

  .primary-gradient {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 dark:from-[#86f9c1] dark:to-[#4da0ff];
  }

  .secondary-gradient {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 dark:bg-gray-600;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 3px;
  border-redius: 999px;
}
