@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 4.2rem
    }

    html {
        @apply font-sans text-white bg-background;
        /* font-size: 62.5%; */
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: rgb(0, 0, 0 / 56%) 0px 3px 12px;
    }
}

@layer components {
    .card {
    @apply bg-transparent-black p-5 sm:p-10 flex flex-col sm:flex-row gap-8 items-center shadow-md rounded-lg mt-[30%] sm:mt-8 transition-all;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404040;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lock-scroll {
  overflow: hidden !important;
}