@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 4.2rem
    }

    html {
        @apply font-sans text-white bg-background;
        /* font-size: 62.5%; */
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: rgb(0, 0, 0 / 56%) 0px 3px 12px;
    }
  @variants hover, focus {
    .tab-button-glow {
      outline: none;
      @apply text-gray-400 bg-transparent-black bg-opacity-40;
    }
  }
}

@layer components {
  .tab-list {
    @apply relative flex p-0 m-0 overflow-x-auto list-none w-full sm:w-max sm:block sm:overflow-visible;
  }
  .tab-button {
    @apply flex items-center w-full px-5 pb-1 text-left bg-transparent border-b-2 h-11 whitespace-nowrap border-transparent-black text-sm md:text-base;
  }
  .tab-panels {
    @apply relative w-full mt-8 md:mt-0;
  }
  .tab-panel {
    @apply h-auto leading-5 w-full px-2 py-1 max-w-lg text-justify;
  }
  @screen sm {
  .tab-button {
    @apply text-center border-b-0 border-l-2;
  }
  .tab-panels {
    @apply ml-5;
  }
    .jorr-list > ul {
    @apply p-0 m-0 list-none text-gray-300 text-sm md:text-base;
  }
  .jorr-list > ul li {
    @apply mb-4 relative pl-7;
  }
    .jorr-list > ul li::before {
    content: '▹';
    @apply absolute left-0 text-white;
  }
  
}
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404040;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}